.slide-container{
  list-style: none;
}
.slick-prev{
  left:0 !important;
  color: white !important;
  z-index: 99 !important;
}
.slick-next {
  right:30px !important;
  color: white !important;
  z-index: 99 !important;
}
.slides{
  padding:0px;
}
.slick-prev, .slick-next{
  width: 35px;
  height: 40px;
}
.slick-dots{
  bottom:30px !important;
}
.slick-dots li button:before{
  opacity: 1 !important;
  color: white !important;
}